<p style="color: green"><%= notice %></p>

<h1>Motores</h1>
<%= link_to "Nuevo Motor", new_motor_path %>

<div id="motors">
  <% @motors.each do |motor| %>
    <%= render motor %>
    <p>
      <%= link_to "Mostrar", motor %>
    </p>
  <% end %>
</div>

